INGRESS_DOMAIN=__INGRESS_DOMAIN__
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MINIO_ENDPOINT=http://minio.default.svc.cluster.local:9000


CF_TUNNEL_ID=<your-tunnel-id>
CF_TUNNEL_CREDENTIALS=<your-base64-tunnel-credentials>
CF_DOMAIN=<your-domain>
