apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-dbless-config
  namespace: kubernetes-dashboard
data:
  kong.yml: |
    _format_version: "1.1"
    services:
    - name: kubernetes-dashboard-web
      url: http://kubernetes-dashboard-web.default.svc.cluster.local:8000
      routes:
      - name: web-route
        paths:
        - /
        strip_path: false
    - name: kubernetes-dashboard-api
      url: http://kubernetes-dashboard-api.default.svc.cluster.local:8000
      routes:
      - name: api-route
        paths:
        - /api
        strip_path: false
    - name: kubernetes-dashboard-auth
      url: http://kubernetes-dashboard-auth.default.svc.cluster.local:8000
      routes:
      - name: auth-route
        paths:
        - /api/v1/login
        - /api/v1/csrftoken
        - /api/v1/me
        strip_path: false
